*.mat
*.pkl
*.png
*.data*
*.jpg
*.pyc
*.index
*.ckpt
*.alien
*.gz
*.meta
/model
/mnist
/svhn
/sample
/logs
/OLD
/dtn/SYN_SVHN/model/
/dtn/SVHN_MNIST/model/
/dtn/SVHN_MNIST/sample/
/dtn/SVHN_MNIST_big/model/
/dtn/SVHN_MNIST_big/sample/
/dtn/weakly_supervised_learning/model/
/semantic_segmentation/data
/semantic_segmentation/model
/semantic_segmentation/images
/semantic_segmentation/logs
/semantic_segmentation/tensorflow_models/

